version: "3.9"

services:
  key-value-store-shard-master:
    build: .
    ports:
      - "8080:8080"
    command:
      - "--role=MASTER"
      - "--masterAddress=0.0.0.0:8080"
      - "--address=0.0.0.0:8080"

  key-value-store-shard-slave:
    build: .
    ports:
      - "8081:8080"
    depends_on:
      - key-value-store-shard-master
    entrypoint:
      - sh
      - -c
      - sleep 3 && java -jar app.jar --role=SLAVE --masterAddress=key-value-store-shard-master:8080 --address=key-value-store-shard-slave:8080